
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <title>{{title}} | by {{author}}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <style>
    body {
      text-align: center;
      background-color: #{{hex}};
      }
      </style>

      <img src={{img}} alt="Something went Wrong"
      width="500" height="600" class="center">
      <footer>Post from r/{{subreddit}}</footer>
      </div>
      </div> 
        <form action="/">
            <button id="button" type="submit">Click here for a meme</button>
        </form>
      </body>

</html>
